<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MSFS2020 Map</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7.1.1/umd/turf.min.js"></script>


	<!-- Leaflet CSS and JS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.min.js"></script>
	<script src="/static/vendor/leaflet-providers/leaflet-providers.js"></script>
	<script src='https://unpkg.com/leaflet.marker.slideto@0.2.0/Leaflet.Marker.SlideTo.js'></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- JQuery UI -->
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

	<!-- Set script root-->
	<script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
<!--Main container-->
<div class="container-fluid p-0" style="height: 100%; width: 100%;">  
	<div style="display: flex; justify-content: space-evenly; width: 100%; padding-top: 5px;">
		
		<div class="no-gutters collapse show p-0" style="background-color: grey; position: absolute; right: 5px; bottom: 5px; height:30%; width: 30%; " id="map_column">
			<div id = "map" style = "height: 100%; width: 100%;"></div>
		</div>
		
		<div class="mb-3"  style="width: 15%; color: black;">
			<div class="text-center">
				<h7 class="">Altitude</h7>
				<h3 class=""><span id=altitude>?</span></h3>
			</div>
		</div>
		<div class="mb-3"  style="width: 15%; color: black;">
			<div class="text-center">
				<h7 class="">V/Speed</h7>
				<h3 class=""><span id=vertical-speed>?</span></h3>
			</div>
		</div>					
		<div class="mb-3"  style="width: 15%; color: black;">
			<div class="text-center">
				<h7 class="">Heading</h7>
				<h3 class=""><span id=compass>?</span></h3>
			</div>
		</div>
		<div class="mb-3" style="width: 15%; color: black;">
			<div class="text-center">	
				<h7 class="">Ground Speed</h7>
				<h3 class=""><span id=groundspeed>?</span></h3>
			</div>
		</div>
        <div class="mb-3" style="width: 15%; color: black;">
			<div class="text-center">	
				<h7 class="">Distance Remaining</h7>
				<h3 class=""><span id=distance>?</span> miles</h3>
			</div>
		</div>
	</div>
	<button id="reset-btn" class="btn btn-primary">Reset</button>

</div>
<!--Main container-->



<!-- Create map object -->
<script>
    let followPlane = true;

    // Create map options
    var mapOptions = {
        center: [41.8601, -87.6101],
        zoom: 10,
        dragging: true
    };

    // Creating a map object
    var map = L.map('map', mapOptions);

    // Creating a Layer object
    var simple = L.tileLayer.provider('CartoDB.Voyager');
    var openstreet = L.tileLayer.provider('OpenStreetMap.Mapnik');
    var grayscale = L.tileLayer.provider('CartoDB.Positron');
    var basic = L.tileLayer.provider('Jawg.Terrain', {
        variant: '',
        accessToken: 'CQVU4GpEMHf6XeTxVy2x2zRCDJpr6zFX61tYzcs27Jeus4kfc9XBUNfz3mhPakJZ'
    });

    var openaip_cached_basemap = L.tileLayer("http://{s}.tile.maps.openaip.net/geowebcache/service/tms/1.0.0/openaip_basemap@EPSG%3A900913@png/{z}/{x}/{y}.png", {
        maxZoom: 14,
        minZoom: 4,
        tms: true,
        detectRetina: true,
        subdomains: '12',
        format: 'image/png',
        transparent: true
    });

    // Adding layers to the map
    map.addLayer(basic);

    var baseLayers = {
        "Grayscale": grayscale,
        "Open Street": openstreet,
        "Pale": simple,
        "Default": basic
    };
    var overlays = {
        "Aviation": openaip_cached_basemap
    };

    // Add control
    L.control.layers(baseLayers, overlays).addTo(map);

    // Icon options
    var iconOptions = {
        iconUrl: '/static/img/plane.png',
        iconSize: [35, 35]
    };

    // Creating a custom icon
    var customIcon = L.icon(iconOptions);

    // Creating Marker Options
    var markerOptions = {
        clickable: false,
        draggable: false,
        icon: customIcon,
        rotationAngle: 90,
        rotationOrigin: "center"
    };

    // Creating a Marker
    var marker = L.marker([17.438139, 78.395830], markerOptions);

    // Adding marker to the map
    marker.addTo(map);

    // Adding Polyline to the map
    var polyline = L.polyline([], {
        color: 'blue',
        weight: 4,
        opacity: 1,
        smooth: 4,
    }).addTo(map);

    marker.on('move', function(event) {
        polyline.addLatLng(event.latlng);
    });

    // Set map view to the marker location
    map.setView(marker.getLatLng(), 10);

    // Define event listener for reset button
    var resetBtn = document.getElementById("reset-btn");
    if (resetBtn) {
        resetBtn.addEventListener("click", function() {
            // Reset the polyline tracking the marker
            polyline.setLatLngs([]);
        });
    }

    // Define a function to update the map zoom level based on the ground speed
    function updateZoomLevel(groundSpeed) {
        // Define a scaling factor for zooming
        const ZOOM_SCALE_FACTOR = 0.1;
        // Calculate the new zoom level based on the ground speed and the scaling factor
        var newZoomLevel = 14 - Math.floor(groundspeed / 5 * ZOOM_SCALE_FACTOR);
        // Set the new zoom level
        map.setZoom(newZoomLevel);
    }
</script>
<!-- Create map object -->

<!-- Custom JS imports -->
<script src="/static/js/custom/getSimData.js"></script>
</body>

</html>